<h1>
  Hey! I'm <%= @profile.name %>
</h1>

<% if @profile.avatar.attached? %>
  <img src="<%=(url_for(@profile.avatar))%>%">
<% end %>

<p><b>Me in my own words:</b>
  <%= @profile.description %>
</p>

<p>Profile views: <%= @profile.views %> </p>
<p>Likes: <%= @profile.total_score %></p>

<div>
  <b>Leave a scratch?</b>
  <%= form_with(model: [ @profile, @profile.likes.build ], local: true) do |form| %>
    <p>
      <%= form.text_field :by, placeholder: "Your name" %>
    </p>
    <p>
      <%= form.submit 'Meow!'%>
      <%= form.submit 'Not my type..'%>
    </p>
  <% end %>
</div>

<div><%= link_to "Show all the cool cats", profiles_path%></div>
